
<table class="layui-hide" id="test"></table>


<script>
    function init() {
        layui.use('table', function () {
            var table = layui.table;

            table.render({
                elem: '#test'
                , cols: [[
                    {field: 'id', width: 80, title: 'ID', sort: true}
                    , {field: 'username', width: 80, title: '用户名'}
                    , {field: 'sex', width: 80, title: '性别', sort: true}
                    , {field: 'city', width: 80, title: '城市'}
                    , {field: 'sign', title: '签名', minWidth: 150}
                    , {field: 'experience', width: 80, title: '积分', sort: true}
                    , {field: 'score', width: 80, title: '评分', sort: true}
                    , {field: 'classify', width: 80, title: '职业'}
                    , {field: 'wealth', width: 135, title: '财富', sort: true}
                ]]
                , page: true,
                data: [
                    {
                        "id": 1,
                        "username": "test1",
                        "sex": "女",
                        "city": "北京",
                        "sign": "人生如逆旅，我亦是行人",
                        "experience": 98,
                        "score": 59,
                        "classify": "Engineer",
                        "wealth": 9999999
                    },
                    {
                        "id": 2,
                        "username": "test2",
                        "sex": "男",
                        "city": "上海",
                        "sign": "人生如逆旅，我亦是行人",
                        "experience": 59,
                        "score": 59,
                        "classify": "Engineer",
                        "wealth": 9999999
                    }
                ]
            });
        });
    }
</script>