<div id="app" class="layui-container">
    <div class="layui-row">
        <div class="layui-form-item">
            <label class="layui-form-label">账号：</label>
            <div class="layui-input-inline">
                <label>
                    <input type="text" name="username" lay-verify="title" autocomplete="off" placeholder="账号"
                           class="layui-input" disabled="" v-model="username">
                </label>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">原密码：</label>
            <div class="layui-input-inline">
                <label>
                    <input type="password" name="passwordOld" lay-verify="title" autocomplete="off" placeholder="原密码"
                           class="layui-input">
                </label>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">新密码：</label>
            <div class="layui-input-inline">
                <label>
                    <input type="password" name="password" lay-verify="title" autocomplete="off" placeholder="新密码"
                           class="layui-input">
                </label>
            </div>
        </div>
    </div>
</div>

<script>
    function init() {
        const app = new Vue({
            el: '#app',
            data: {
                username: 'admin',
                message: 'Hello Vue!'
            }
        });
    }
</script>