<div class="layui-container" style="width: 26vw">
    <div class="layui-row">
        <div class="layui-form-item">
            <label class="layui-form-label">账号：</label>
            <div class="layui-input-block">
                <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入标题" class="layui-input" disabled="">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">用户名：</label>
            <div class="layui-input-block">
                <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入标题" class="layui-input" disabled="">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">头像地址：</label>
            <div class="layui-input-block">
                <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入标题" class="layui-input" disabled="">
            </div>
        </div>
    </div>
</div>