/* 表单输入框宽度 */
.layui-form-item .layui-input-inline {
    width: 295px;
}

/* 下拉框向上弹出 */
.layui-form-select dl {
    top: auto;
    bottom: 36px;
}

/* 表单必填项目 */
.label-required-next:after {
    top: 6px;
    right: 5px;
    color: #b90404;
    content: '*';
    position: absolute;
    margin-left: 4px;
    font-weight: 700;
    line-height: 1.8em;
}

/* 解决通过方法渲染的表格checkbox不居中问题 */
.layui-table-cell .layui-form-checkbox[lay-skin="primary"] {
    top: 50%;
    transform: translateY(-50%);
}

/* 下拉框，滚动条无法展示所有选项的问题 */
.layui-form-select dl {
    max-height: 250px;
}

/* 右键菜单 */
.tab-right-menu {
    display: none;
    position: absolute;
    padding: 0 10px 0 10px;
    text-align: center;
    background-color: white;
    cursor: pointer;
    z-index: 8;
    list-style-position: outside;
}
.tab-right-menu li {
    margin: 0 0.2em 0.4em 0.2em;
}
.tab-right-menu li:hover{
    background-color: white;  /* 更改背景颜色，例如红色 */
    color: #1e9fff; /* 更改文本颜色，例如白色 */
    font-size: 1.01em;
}