* {
    margin: 0; /* 去除外边距 */
    padding: 0; /* 去除内边距 */
    outline: 0; /* 去除元素轮廓 */
    font-size: 14px;
    text-align: center; /* 文本水平居中 */
    vertical-align: middle; /* 元素垂直居中 */
    white-space: nowrap; /* 强制不换行 */
    text-overflow: ellipsis; /* 超长加省略号 */
}

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* 隐藏滚动条 */
    scrollbar-width: none; /* 针对Firefox */
    -ms-overflow-style: none; /* 针对Internet Explorer和Edge */
}

/* 隐藏滚动条的备用方案，适用于Chrome、Safari和Opera */
::-webkit-scrollbar {
    display: none;
}

label {
    color: dimgrey;
    font-weight: 600;
}

/* 文本框统一样式 */
input,textarea,select,.input {
    padding: 0 0.5em; /* 定义内边距*/
    width: 11em;
    height: 2em;
    line-height: 2em;
    display: inline-block;
    background-color: #fff;
    border: 1px solid #c8c8c8;
    border-radius: 4px;
    overflow: hidden; /* 设置超出隐藏 */
    transition: border .2s ease-in-out, background .2s ease-in-out, box-shadow .2s ease-in-out;
}

/* 文本框统一样式 */
input:hover,textarea:hover,select:hover,.input:hover {
    border-color: steelblue;
}

/* 文本框统一样式 */
input[type="text"]:focus,input[type="number"]:focus,input[type="password"]:focus,input[type="date"]:focus,input[type="email"]:focus,textarea:focus,.input:focus {
    outline: none; /* 去掉文本框选中后的大黑框  或者使用 outline: 0; */
    border-color: steelblue;
    box-shadow: 0 1px 4px steelblue;
}

/*按钮样式*/
input[type="button"],input[type="submit"],.button {
    padding: 0 1px;  /* 定义内边距*/
    cursor: pointer;
    height: 2em;
    line-height: 2em;
    font-weight: 600;
    border: 0;
    border-radius: 40px;
    display: inline-block;
    color: ghostwhite;
    background-color: dodgerblue;
    transition: padding .1s ease-in-out, background .1s ease-in-out, box-shadow .1s ease-in-out;
}
/*按钮鼠标悬停*/
input[type="button"]:hover,input[type="submit"]:hover,.button:hover {
    margin: 0 1px; /* 定义内边距减少 外边距补充 实现固定宽度 */
    padding: 0;
    color: white;
    /* box-shadow:水平垂直位置 模糊距离 阴影尺寸 阴影颜色  */
    box-shadow: 0 2px 6px dodgerblue;
}
/*按钮激活*/
input[type="button"]:active,input[type="submit"]:active,.button:active {
    box-shadow: 0 0 6px dodgerblue;
}

/* div 行布局 */
.div-row {
    margin-top: 10px;
}
/* div 行中的 ul 列布局样式 */
.div-row ul {
    list-style-type: none; /* 移除默认的列表符号 */
    -webkit-padding-start: 0; /* 对于旧版Safari */
    display: flex; /* 使用flex布局 */
    flex-wrap: wrap;
    /*justify-content: center; !* 水平居中 *!*/
    align-items: center; /* 子项目水平居中 */
}
/* div 行中的 li 列布局样式 */
.div-row li {
    margin: 0 1em; /* 添加左右间距 */
}
/* div 行中的 li 首列对齐样式 */
.div-row li:first-child {
    width: 8em; /* 统一宽度 */
    text-align: right;
}
